/*
Author: inhumba
Author URI: https://github.com/inhumba
Version: 1.0
*/


/* VARIABLES
---------------------------------------*/

// Typography
$font-maitree:					"Maitree", Helvetica, Arial, sans-serif;
$heading-font: 					$font-maitree;
$body-font: 						$font-maitree;

// Font Weight
$font-weight: (
	thin: 							100,
	extra-light: 					200,
	light: 							300,
	regular: 						400,
	medium: 						500,
	semi-bold: 					600,
	bold: 							700,
	extra-bold: 					800,
	black: 						900
);

// Color
$primary-color: 					#e3ffe7;
$secondary-color: 				#d9e7ff;
$black-color: 					#555;



/* GLOBAL
---------------------------------------*/

* {
	margin: 0;
	padding: 0;
}
html {
	background: linear-gradient(120deg, $primary-color 0%, $secondary-color 100%);
	padding: 10px;
}
body {
	background-color: rgba(256,256,256,.5);
	color: $black-color;
	font-family: $body-font;
	font-size: 18px;
	font-weight: 300;
	display: table;
	height: calc(100% - 20px);
	width: calc(100% - 120px);
	padding: 50px;
	position: absolute;
}


/* General
---------------------------------------*/

.title {
	font-size: 2.2em;
	font-weight: 600;
	line-height: 1;
	text-align: center;
}
.sub-title {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 50px;
	text-align: center;
}

.topic {
	font-size: 1.2em;
	font-weight: 500;
}
p {
	font-size: 1em;
	margin-bottom: 15px;
}
a {
	color: darken($secondary-color, 15%);
}

.container {
	margin: 0 auto;
	width: 70%;
}

.code {
	background-color: rgba(256,256,256,.5);
	border: 2px dashed #ccc;
	color: #999;
	font-size: .9em;
	margin: 80px auto 50px;
	padding: 0 30px;
	position: relative;
	width: 70%;
	&::before {
		content: 'code';
		display: inline-block;
		color: #ccc;
		font-size: .6em;
		position: absolute;
		top: 5px;
		right: 10px;
		text-transform: uppercase;
	}
}

xmp {
	font-family: $body-font;
}


/* Navigator
---------------------------------------*/

.flow-step {
	list-style: none;
	margin: 0 0 20px;
	display: flex;
	justify-content: space-between;
}
.step-item {
	a {
		background-color: #fff;
		color: darken($secondary-color, 10%);
		font-size: .9em;
		padding: 5px 15px;
		text-decoration: none;
		&.current {
			background-color: darken($secondary-color, 10%);
			color: #fff;
		}
	}
}


/* STYLE
---------------------------------------*/

.banner-list {
	margin: 50px 0 70px;
	display: flex;
	justify-content: space-between;
	.banner-item {
		background-color: $primary-color;
		border: 1px solid darken($primary-color, 25%);
		box-shadow:  0 0 20px 0 rgba(0,0,0,.05);
		padding: 20px 30px;
		text-align: center;
		h5 {
			font-size: 1.1em;
		}
		p {
			font-size: .9em;
		}
	}
}

.product-list, .product-detail {
	margin: 50px 0 70px;
	display: flex;
	flex-direction: column;
	.product-item {
		background-color: $primary-color;
		border: 1px solid darken($primary-color, 25%);
		box-shadow:  0 0 20px 0 rgba(0,0,0,.05);
		margin-bottom: 30px;
		padding: 20px;
		h5 {
			font-size: 1.1em;
		}
		p {
			font-size: .9em;
		}
		.desc {
			background-color: #fff;
			float: right;
			padding: 20px 30px;
			h4 {
				font-size: 1.1em;
			}
			h5 {
				font-size: 1em;
			}
			h6 {
				font-size: .9em;
				font-weight: 300;
			}
			p {
				color: red;
				margin-top: 10px;
				font-size: 1.1em;
				font-weight: 600;
				text-align: right;
			}
		}
	}
}

.product-detail {
	.product-item {
		text-align: center;
		h5 {
			font-size: 1.4em;
			margin-bottom: 20px;
		}
		.desc {
			float: none;
			p {
				font-size: 1.6em;
				text-align: center;
			}
		}
	}
}

.button {
	background-color: $secondary-color;
	border-radius: 5px;
	border: 1px solid darken($secondary-color, 5%);
	box-shadow:  0 0 10px 0 rgba(0,0,0,.1);
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	margin: 15px auto 0;
	padding: 10px;
	text-align: center;
	text-shadow:  1px 1px 0 rgba(0,0,0,.2);
	text-transform: uppercase;
	width: 150px;
}

.cart-list {
	background-color: $primary-color;
	border: 1px solid darken($primary-color, 25%);
	box-shadow:  0 0 20px 0 rgba(0,0,0,.05);
	margin: 50px 0 70px;
	padding: 20px;
	.cart-item {
		.desc {
			background-color: #fff;
			margin-bottom: 20px;
			padding: 20px 30px;
			h4 {
				font-size: 1.1em;
			}
			h5 {
				font-size: 1em;
			}
			h6 {
				font-size: .9em;
				font-weight: 300;
			}
			p {
				color: red;
				margin-top: 10px;
				font-size: 1.1em;
				font-weight: 600;
				text-align: right;
			}
		}
	}
}

.thanks-txt {
	color: darken($secondary-color, 10%);
	margin-top: 80px;
	font-size: 3em;
	text-align: center;
}