//-//- Use TA Template Base
extends ga-template.pug


//-//- Page Title
block title
	title Home :] Google Analytics Tag


block body
	body


		block wrapper
			//-//- Page Wrapper
			#app


				block header
					//-//- Header
					header
						h1.title Google Analytics Tag


				block main
					//-//- Main
					main#main.main
						.container

							h1 main


					aside.code
						xmp
							<h1>footer</h1>

				block footer
					//-//- Footer
					footer
						.container

							nav
								ul.flow-step
									li.step-item: a.current(href="#") Home
									li.step-item: a(href="#") Category
									li.step-item: a(href="#") Product
									li.step-item: a(href="#") Cart
									li.step-item: a(href="#") Buyer
									li.step-item: a(href="#") Shipping
									li.step-item: a(href="#") Payment
									li.step-item: a(href="#") Thanks



