nav
	ul.flow-step

		if step === '1'
			li.step-item: a.current(href="#") Home
		else
			li.step-item: a(href="home.html") Home

		if step === '2'
			li.step-item: a.current(href="#") Category
		else
			li.step-item: a(href="category.html") Category

		if step === '3'
			li.step-item: a.current(href="#") Product
		else
			li.step-item: a(href="product.html") Product

		if step === '4'
			li.step-item: a.current(href="remove-cart.html") Remove Cart
		else
			li.step-item: a(href="add-cart.html") Add Cart

		if step === '5'
			li.step-item: a.current(href="#") Buyer
		else
			li.step-item: a(href="buyer.html") Buyer

		if step === '6'
			li.step-item: a.current(href="#") Shipping
		else
			li.step-item: a(href="shipping.html") Shipping

		if step === '7'
			li.step-item: a.current(href="#") Payment
		else
			li.step-item: a(href="payment.html") Payment

		if step === '8'
			li.step-item: a.current(href="#") Thanks
		else
			li.step-item: a(href="thanks.html") Thanks
