//-//- Use Template Base
extends template.pug


//-//- Page Title
block title
	title Remove Cart :] Google Analytics Tag


//-//- Script Tag
block tag
	//-//- Script Here
	//- include ../tag/tag-gtag.html
	include ../tag/tag-remove-cart-analyticsjs.html


block body
	body


		block wrapper
			//-//- Page Wrapper
			#app


				block header
					//-//- Header
					header
						h1.title Google Analytics Tag
						h2.sub-title E-commerce Tracking


				block main
					//-//- Main
					main#main.main
						.container

							h3.topic Remove Cart
							p Remove product form shopping cart คลิกลบสินค้าออกจากตระกร้าสินค้า

							.cart-list
								.cart-item
									.desc
										h4 Product 4 : Product Name : Product Brand
										h5 Product Category
										h6 Product Variant
										p ฿400
								.button Remove


					aside.code
						xmp
							include ../tag/tag-remove-cart-analyticsjs.html

				block footer
					//-//- Footer
					footer
						.container

							//-//- Page step
							- var step =  '4'

							//-//- Nav
							include nav.pug



