doctype html
html(lang="th")


	head
		//-//- Page Title
		block title
			title Default title


		//-//- Base Meta
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="author", content="inhumba")


		//-//- Font Style
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Maitree:300,500,600&subset=thai")


		//-//- Main Style
		link(rel="stylesheet", href="../css/stylesheet.css")


		//-//- Favicon
		link(rel="icon", type="image/png", href="../favicon.png")


		block tag
			include ../tag/tag-gtag.html
			//- include ../tag/tag-home.html


	//-//- Body
	block body
		body

			block wrapper
				//-//- Page Wrapper
				#app

					block header
						//-//- Header


					block main
						//-//- Main


					block footer
						//-//- Footer

